

{% extends 'layout.html.twig' %}

{% block title %}
    {{Parent()}}-Accueil
{% endblock %}

{% block content %}
 <form class="mt-5 p-3 m-auto">
         <div class="form-floating w-lg-25 w-sm-100 m-auto">
            <input type="email" class="form-control border-bottom-0 rounded-0 rounded-top" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
         </div>
         <div class="form-floating w-lg-25 w-sm-100 m-auto">
            <input type="password" class="form-control rounded-0 rounded-bottom" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Mot de passe</label>
         </div>
         <div class="d-grid gap-2 mx-auto w-25 mt-3">
            <button class="rounded-pill btn btn-outline-danger btn-sm mb-2" type="button">Se connecter</button>
            <img src="" class="rounded-pill" alt="">
         </div>
      </form>

{% endblock %}





