<footer>
    <div class="bloc-footer" >
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/images/Wilder_Event3.png" alt="logo" height="60px">
            </div>
            <div class="col">
                Contactez-nous : <a class=mailto style="text-decoration:none"  href="mailto:wilderevent@wcs.com"> wilderevent@wcs.com</a>
            </div>
            <div class="col-3">

                <div id="fb">
                    <a href="" target="_blank">
                        <img src="assets/images/facebook.svg" alt="logo" height="20px" >
                    </a>
                </div>
                <div id="insta">
                    <a href="" target="_blank">
                        <img src="assets/images/instagram.svg" alt="logo" height="20px" >
                    </a>
                </div>
                <div id="github">
                    <a href="" target="_blank">
                        <img src="assets/images/github.svg" alt="logo" height="20px" >
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

</footer>

