:root {
    --primary:#ED503A;
    --secondary:#F5F5F7;
    --thirdary: #0E0B0B;
}
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}
.size {
    width: 25rem;
    height: 18rem;
}
a {
    text-decoration: none;
}
li, ul {
    list-style: none;
}
.scroll {
    overflow: auto;
    height: 300px
}
.scrollDrop {
    overflow: scroll;
    height: 200px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/subtle-prism1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display : table;
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0; padding: 0;
}
footer {
    display : table-row;
    height: 100px;
}
.cards:hover{
    transform:scale(1.08);
    background-color: #efbfbf;
}
.cards{
    transition: transform .4s;
}
.border-text-danger {
    border-color:var(--primary);
}
#bootstrap-override .override-red-over:hover {
    color:var(--primary);
    border-bottom: 2px solid var(--primary);
}
#bootstrap-override .form-control:focus {
    border-color:var(--secondary);
    box-shadow: none;
}
#bootstrap-override .form-control:active {
    border-color:var(--secondary);
}
#bootstrap-override .btn-outline-danger:hover{
    background-color: var(--primary);
    color:var(--secondary);
    border-color:var(--primary);
}
#bootstrap-override .btn-outline-danger{
    border-color: var(--primary);
}
#bootstrap-override .color-text-danger {
    color: var(--primary);
}
#bootstrap-override .accordion-button:focus {
    box-shadow: none;
}

#bootstrap-override .accordion-button::after {
    flex-shrink: 0;
    margin-left: 0;
    box-shadow: none;
}
#bootstrap-override .accordion-item {
    border: 1px solid #0E0B0B;
    background-color: #F5F5F7;
}
#bootstrap-override .accordion-item:hover {
    transform:scale(1.02);
}
#bootstrap-override .my-activities{
    color: var(--primary);
}

#text-decoration-none {
    color:var(--primary);
}
#bootstrap-override .color-button-bloc {
    background-color: var(--primary);
}
#bootstrap-override .color-button-bloc-dark {
    background-color: #F5F5F7;
    border-color: 5px solid var(--thirdary);
}
.slideInUp {
    animation-name: slideInUp;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.fadeInRightBig {
    animation-name: fadeInRightBig;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInLeftBig {
    animation-name: fadeInLeftBig;
    animation-duration: 1s;
    animation-fill-mode: both;
}
canvas{
    margin: 0 auto;
}
.clicked {
    color: #fff;
    background-color:var(--primary);
    border-color:var(--primary);
}
@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        visibility: visible;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity:0;
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
