:root {
    --primary:#ED503A;
    --secondary:#F5F5F7;
    --third:#15EE52;
}
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

li, ul {
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
}
#bootstrap-override .form-control:focus {
    border-color:var(--secondary);
    box-shadow: none;
}
#bootstrap-override .btn-outline-danger:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}
#bootstrap-override .text-danger {
    color:var(--primary);
}
#bootstrap-override .accordion-button:focus {
    box-shadow: none;
}

.slideInUp {
    animation-name: slideInUp;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.fadeInRightBig {
    animation-name: fadeInRightBig;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInLeftBig {
    animation-name: fadeInLeftBig;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        visibility: visible;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity:0;
        transform: translate3d(2000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}




