<footer class="bd-footer container-fluid mt-5 p-2">
    <div class="bloc-footer">
        <div class="row">
            <div class="col d-flex justify-content-evenly align-items-center ">
                <div id="fb">
                    <a href="#" target="_blank"><i class="fab fa-facebook text-white"></i></a>
                </div>
                <div id="insta">
                    <a href="#" target="_blank"><i class="fab fa-instagram text-white"></i></a>
                </div>
                <div id="github">
                    <a href="#" target="_blank"><i class="fab fa-github text-white"></i></a>
                </div>
                <div id="linkdin">
                    <a href="#" target="_blank"><i class="fab fa-linkedin text-white"></i></a>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center text-white">
                <p>Contactez-nous : <a class="text-decoration-none color-text-danger" href="mailto:wilderevent@wcs.com">wilderevent@wcs.com</a></p>
            </div>
            <div class="col m-2 d-flex justify-content-end align-items-end text-white mx-3">
                <p class="mx-4">© 2021 WilderEvent, Inc</p>
                <img src="/assets/images/logo.png" alt="logo" height="70px">
            </div>
        </div>
    </div>
</footer>