<footer class="fixed-bottom border-top p-2 bg-white">
    <div class="bloc-footer">
        <div class="row">
            <div class="col d-flex justify-content-evenly align-items-center ">
                <div id="fb">
                    <a href="#" target="_blank"><i class="fab fa-facebook text-dark"></i></a>
                </div>
                <div id="insta">
                    <a href="#" target="_blank"><i class="fab fa-instagram text-dark"></i></a>
                </div>
                <div id="github">
                    <a href="#" target="_blank"><i class="fab fa-github text-dark"></i></a>
                </div>
                <div id="linkdin">
                    <a href="#" target="_blank"><i class="fab fa-linkedin text-dark"></i></a>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <p>Contactez-nous : <a class="text-decoration-none text-danger" href="mailto:wilderevent@wcs.com">wilderevent@wcs.com</a></p>
            </div>
            <div class="col m-2 d-flex justify-content-end align-items-end">
                <p class="mx-4">© 2021 Wilder'Event, Inc</p>
                <img src="/assets/images/logo.png" alt="logo" height="50px">
            </div>
        </div>
    </div>
</footer>

