<footer class="container-fluid mt-5 p-5">
        <div>
            <div class="col d-flex align-items-center justify-content-center text-white">
                <p>Contactez-nous : <a class="text-decoration-none color-text-danger" href="mailto:wilderevent33@gmail.com">wilderevent33@gmail.com</a></p>
            </div>
            <div class="col d-flex justify-content-center align-items-center text-white ms-4">
                <p class="mx-4">© 2021 WilderEvent, Inc</p>
            </div>
        </div>
</footer>