<nav class="navbar bg-white navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">
        <img src="/assets/images/logo.png" width="70px" height="70px" alt="logo" >

        <a class="navbar-brand m-1" href="/">Wilder'Event</a>

        <button class="navbar-toggler text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="nav-link m-3" href="#"><i class="fab fa-buffer text-danger"></i> Activités</a>
                <a class="nav-link m-3" href="/activity/addActivity"><i class="far fa-plus-square text-danger"></i> Créer une activité</a>
                <a class="nav-link m-3" href="/profil?id={{ session.user.id }}"><li class="fas fa-user text-danger"></li> Mon profil</a>
                <a class="nav-link m-3" href="/logout"><i class="fas fa-sign-out-alt text-danger"></i> Déconnexion</a>

            </div>
        </div>
    </div>
</nav>

