{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Creation
{% endblock %}

{% block content %}

    <div class="bg-danger opacity-75 m-auto w-50 rounded text-center mt-5">
        <ul>
            {% for error in errors %}
                <li class="text-light p-1">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card text-dark bg-light mb-3 m-auto w-75 mt-5">
        <div class="card-header text-center">
            <h1>Créer une activité</h1>
        </div>
        <div class="card-body">
            <form action="" class="col col-lg-4 col-md-6 col-sm-10 p-4 m-auto w-75" method="post">
                <div class="form-group">
                    <input type="text" name="title" class="form-control border-0 border-bottom fs-2 p-4" placeholder="Titre de l'événement" autofocus>
                </div>
                <div class="form-group">
                    <textarea type="text" name="description" class="form-control border-0 fs-3 p-4" placeholder="Description"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="rounded-pill border-2 btn btn-outline-danger btn-sm mb-3 mt-4 p-2 fs-5" type="submit">Suivant</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}





