{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Créer un événement
{% endblock %}

{% block content %}
    {% if session.register is not empty %}
        {% if(session.register.is_admin) %}
            <div class="d-flex justify-content-end mt-5 me-4 text-white">
                <p class="fs-4">Administrateur</p>
            </div>
        {% endif %}
        <div class="d-flex justify-content-end me-4 text-white">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}
    <div class="container-fluid mb-5">
        <div class="card col-sm-12 col-lg-10 mx-auto text-dark bg-light mb-3 mt-3 bg-opacity-75">
            <div class="card-header text-center">
                <h1>Créer une activité</h1>
            </div>
            {% for error in errors %}
                <div class="m-auto mt-2 text-center">
                    <p class="text-danger">{{ error }}</p>
                </div>
            {% endfor %}
            <div class="card-body">
                <form action="" class="col col-lg-4 col-md-6 col-sm-10 p-4 m-auto w-75" method="post">
                    <div class="placeholder-title">
                        <input type="text" name="title" class="form-control border-0 border-bottom rounded-0 rounded-top fs-4 p-4" placeholder="Titre de l'événement" autofocus>
                    </div>
                    <div class="form-group fs-1">
                        <textarea type="text" name="description" class="form-control border-0 rounded-0 rounded-bottom fs-5 p-4" placeholder="Description"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="rounded-pill border-2 btn btn-outline-danger color-text-danger btn-sm mb-3 mt-4 p-2 fs-5" type="submit">Suivant</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}





